<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Date Night</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="container pink lighten-5">
  <br />
  <div class="pink accent-2 z-depth-2 ">
    <br />
    <h2>Date Night</h2>
    <br />
  </div>
  <hr />
  <div class="row">
    <div class="col s12 m6 l6">

      <div class="card-panel red lighten-5">
        <div class="card-content">
          <h3 class="card-title">Pick a Date:</h3>
          <ul>
            <% for(let i=0; i<ideas.length;i++) { %>
            <li id="idea<%=i%>" class="hidden">
              <h5>Idea:</h5>
              <div><%= ideas[i].idea %> </div>
              <h5>Location:</h5>
              <div><%= ideas[i].location %> <i class="right material-icons delete">delete</i>
              <hr />
            </li>
            <% } %>
          </ul>
          <button type="button" class="waves-effect waves-light btn" id="randomDate">Random</button>
          <button type="button" class="right waves-effect waves-light btn" id="showAll">Show All</button>
        </div>
      </div>
      <hr />
      <div class="card-panel red lighten-5">
        <div class="card-content">
          <h3 class="card-title">Add Date Ideas:</h3>
          <hr />
          <br />

          <form action="/addIdea" method="POST">
            <div class="black-text input-field">
              <input type="text" placeholder="Idea" name="idea" id="idea">
              <!-- <label class="black-text" for="idea">Date Idea:</label> -->
            </div>
            <div class="black-text input-field">
              <input type="text" placeholder="Location" name="location" id="location">
              <!-- <label class="black-text" for="idea">Date Idea:</label> -->
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>


        </div>
      </div>
    </div>
  </div>

  <!--JavaScript-->
  <script src="js/main.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
</body>

</html>